<!--begin footer -->
<div class="footer">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <div id="footer">Copyright © {{ "now"|date('Y') }} LAMBK. Created by <a href="#" target="_blank">Virginija P</a>
                <div class="footer_social">
                <a href="#">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="#">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
                </div>
            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</div>
<!--end footer -->
</div>